.projects {
  width: calc(100% - 80px);
  height: auto;
  min-height: 800px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cards-projects {
  width: 100%;
  gap: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
