.cardSkils{
    width: 100%;
  max-width: 400px;
  min-width: 300px;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: 0.3s ease;
  cursor: pointer;
}

.cardSkils-content {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  align-items: center;
}

.cardSkils-contentBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.cardSkils-contentBox-box {
  width: 100px;
  height: 30px;
  border-radius: 50px;
  background: #e5e5e586;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardSkils-text {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  font-family: "Arial", sans-serif;
}
