.card2{
    width: 100%;
  /* min-width: 300px; */
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: 0.3s ease;
    transform: scale(1);
  cursor: pointer;
}
.card{
    width: 100%;
  max-width: 350px;
  min-width: 300px;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: 0.3s ease;
  cursor: pointer;
}
.card:hover {
  transform: translateY(-44px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
}
.card-title {
  font-size: 22px;
  font-weight: 600;
  color: #333333;
  font-family: "Arial", sans-serif;

  margin: 0;
}
.card-text {
  font-size: 16px;
  color: #666666;
  font-family: "Arial", sans-serif;
  margin: 0;
}

.image-card{
  width: 100%;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;

}
