.initial {
  width: calc(100% - 80px);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-initial {
  width: 40%;
  height: 500px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
}


.button {
  width: 300px;
  height: 50px;
  background-color: #646464;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.image-box {
  width: 50%;
  height: 500px;
  border-radius: 10px;
  position: relative;
}
.box {
  position: absolute;
  width: 200px;
  height: 120px;
  background: #FF9601;
  color: #fff;
  border-radius: 8px;
}
.one {
  top: 0;
  right: 0;
}
.two {
  top: 110px; 
  right: 0;
}
.three {
  top: 220px;
  left: 0;
}
.four {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 5px solid #303030;
  position: absolute;
}
.image-intial {
  /* width: 200px; */
  position: absolute;
  height: 400px;
  border-radius: 50px;
  object-fit: cover;
  z-index: 99px;
  right: 160px;
top: 60px
}

@media (max-width: 960px) {
  .initial{
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
    width: 100% !important;
  }
.content-initial {
  width: 90%;
height: 400px;
}
.image-intial {
right: 5%;
}
  /* .image-box {
display: none;
  } */
}