.areas {
  width: calc(100% - 80px);
  min-height: 400px;
  padding: 40px;

  /* background: #58CC03; */
  /* border-top: 5px solid #465F6B; */
}

.box-content{
  width: 100%;
  height: 150px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
    /* background: red; */
  /* background: #58CC03; */

  }

  .cards{
  width: 100%;
  /* background: red; */
  gap: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }