.areas {
  width: calc(100% - 80px);
  min-height: 400px;
  padding: 40px;

}

.box-content{
  width: 100%;
  height: 150px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  }

  .cards{
  width: 100%;
  gap: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }