.container {
  width: calc(100% - 80px);
  height: 30px;
  padding: 40px ;
  border-bottom: 2px solid #465F6B;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.title {
  font-size: 24px;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.contentleque {
  width: 450px;
  justify-content: space-between;
  display: flex;
}
.leque{
  font-size: 15px;
  color: #fff;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.leque:hover{
  color: orange;
  transform: scale(1.2);
}
.image {
  width: 120px;
  height: 120px;
  object-fit: cover;
border-radius: 50px;
}