.container {
  width: calc(100% - 80px);
  height: 30px;
  padding: 40px ;
  border-bottom: 2px solid #465F6B;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.title {
  font-size: 24px;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.contentleque {
  width: 450px;
  justify-content: space-between;
  display: flex;
}
.leque{
  font-size: 15px;
  color: #fff;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.leque:hover{
  color: orange;
  transform: scale(1.2);
}
.image {
  width: 120px;
  height: 120px;
  object-fit: cover;
border-radius: 50px;
}
.menu-mobile{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  align-items: center;
  background: white;
  position: absolute;
  top: 80px;
  right: 40px;
  width: 150px;
  height: 200px;
  padding: 20px;
  z-index: 89;
}
.menu-mobile span{
  transition: transform 0.3s ease;

  z-index: 99;
color: gray;
}
.menu-mobile span:hover{
color: orange;
transform: scale(1.2);
}

@media (min-width: 550px) {
.icon-menu {
  display: none;
}


}
@media (max-width: 550px) {

  .contentleque{
  justify-content: flex-end;
}
.contentleque span {
  display: none;
}
}