.invite{
  width: calc(100% - 80px);
  height: auto;
  min-height: 380px;
  padding: 40px;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invite-content{
  width: 60%;
  height: auto;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}