.footer{
  width: calc(100% - 80px);
  height: 30px;
  padding: 20px 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
 /* background: #131F24; */
 background: #0c1417;

}
.footer-text{
  font-size: 14px;

  color: white;
  font-family: sans-serif;
}