.card2 {
  width: 100%;
  padding: 20px;
  background: #303030;

  border-radius: 12px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: 0.3s ease;
  transform: scale(1);
  cursor: pointer;
}
.cardProject {
  width: 100%;
  max-width: 40%;
  min-width: 340px;
  background: #303030;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: 0.3s ease;
  cursor: pointer;
}
.card:hover {
  transform: translateY(-44px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
}
.card-title {
  font-size: 22px;
  font-weight: 600;
  color: orange;
  font-family: "Arial", sans-serif;
  margin: 0;
}
.card-text {
  font-size: 16px;
  color: #666666;
  font-family: "Arial", sans-serif;
  margin: 0;
}
.box-description {
  padding: 20px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image-card-project {
  width: 100%;
  height: 200px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  object-fit: cover;
}
.card-box {
  margin: 10px;
  display: flex;
  gap: 10px;
}
.card-tikets {
  width: 100px;
  height: 30px;
  border-radius: 50px;
  background: #e5e5e586;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tiket-name {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  font-family: "Arial", sans-serif;
}
.card-links {
  cursor: pointer;
  color: #333333;
  gap: 5px;
  display: flex;
  align-items: center;
}
.tiket-name-icon {
  font-size: 14px;
  transition: 0.3s ease;
  font-weight: 500;
  color: white;
  font-family: "Arial", sans-serif;
}
.card-icon {
  transition: 0.3s ease;
  color: white;
}
.tiket-name-icon:hover {
  color: orange;
  transform: scale(1.2);
}
.card-links:hover .card-icon {
  color: orange;
  transform: scale(1.2);
}
