.skils {
  width: calc(100% -80px);
  height: auto;
  padding: 40px;
  background: #fff;
}

.skils-content {
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .skils-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  
}
