.presentation{
  width: calc(100% - 160px);
  height: auto;
  min-height: 400px;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.presentation-content{
  width: 50%;
  max-width: 600px;
  height: auto;
  min-height: 450px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.presentation-text{
  font-size: 18px;
  color: gray;
  font-family: "Arial", sans-serif;
  text-align: start; 
}
@media(max-width: 900px) {
  .presentation {
    flex-direction: column-reverse;
    padding: 40px;
    height: auto;
    min-height: 600px;
  }
  .presentation-content {
    width: 100%;
    max-width: none;
    height: auto;
    min-height: auto;
    padding-bottom: 0;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .presentation-content span {
    text-align: start;
  }
}