:root {
 background: #131F24;
}


body {
  margin: 0;
  padding: 0;
  place-items: center;
}

h1 , p , span, a{
  margin: 0;
  padding: 0;
}
.containers {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li{
  font-family: sans-serif;
  font-size: 14px;
  margin: 5px
}
.titles{
  font-size: 30px;
  color: #fff;
  font-family: "Arial", sans-serif;
}
.texts{
    font-size: 18px;
  color: gray;
  font-family: "Arial", sans-serif;
  text-align: center;
}

button {
transition: transform 0.3s ease;
display: flex;
align-items: center;
justify-content: center;

}
button:hover {
  /* border-color: #646cff; */
    background-color: #FF2A1F;
   transform: scale(1.2);
}
button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}


